---
layout: default
hidenav: true
---

<div class="bg"></div>

<h1 class="title schedule-title">Schedule</h1>

{% assign startTime = "08:00" %}

<p class="schedule-note big-hall">In the Big Hall, right side of the Entrance Hall, down the stairs:</p>
<p class="schedule-note outside">In the Entrance Hall, Small Hall and Moz Lounge:</p>

{% for program in site.data.schedule %}

  {% assign duration = program.duration | times: 60 %}
  {% assign endTime = startTime | date: "%s" | plus: duration | date: "%H:%M" %}

  <section class="card schedule schedule-{{ program.side }}">
  {% if program.speaker %}
    {% assign speaker = site.speakers | where:"path", program.speaker | first %}
    <div class="speaker-pic">
      <a href="{{ speaker.url }}"
        ><img src="{{ speaker.pic }}" alt="{{ speaker.name }}"
      /></a>
    </div>
    <div class="timestamp">{{ startTime }}-{{ endTime }}</div>
    <div class="speaker-desc">
      <a class="speaker-link" href="{{ speaker.url }}">
        <h2 class="speaker-name">{{ speaker.name }}</h2>
        <p class="speaker-title">{{ speaker.talktitle }}</p>
        <p class="speaker-title link">more →</p>
      </a>
    </div>
  {% else %}
    <div class="speaker-pic">
      <img src="{{ program.image }}" alt="{{ program.title }}" />
    </div>
    <div class="timestamp">{{ startTime }}-{{ endTime }}</div>
    <div class="speaker-desc">
      <h2 class="speaker-name">{{ program.title }}</h2>
      <p class="speaker-title">{{ program.desc }}</p>
    </div>
  {% endif %}
  </section>

  {% assign startTime = endTime %}

{% endfor %}
