/*

  __
 / ()  ()  ()             _
|      /\  /\    /|/|/|  |/
 \___//(_)/(_)    | | |_/|_/


 Do you have a few lines of CSS to spare?
 -> design our site for a day!
 send a PR with your styles at
 https://github.com/bpweb/cssconfbp17
 or tweet us a codepen link at
 @cssconfbudapest !

*/

/**
* Theme: Lobster Rainbow
* Author: @IldikaTamasi
*/


 @import url('https://fonts.googleapis.com/css?family=Lobster');
 @import url('http://fontawesome.io/assets/font-awesome/css/font-awesome.css');

 html {
   min-height: 100%;
   margin: 0;
   position: relative;
   background-color: rgba(241, 169, 150, .3);
 }

 body {
   max-width: 1200px;
   margin: 5rem auto 0;
     padding: 0 2vw;
   color: rgba(103, 65, 114,1.0);
   font-family: sans-serif;
 }

 h1 {
     color: rgba(103, 65, 114,1.0);
     font-family: Lobster, sans-serif;
     font-size: 10rem;
     font-kerning: initial;
     text-align: center;
     margin: 10px 0;
     font-weight: 100;
     text-shadow: 0px 0px 0 #fff, -1px 1px 0 #fff, -2px 2px 0 #3498db, -3px 3px 0 #3498db, -4px 4px 0 #3498db, -5px 5px 0 #3498db, -6px 6px 0 #3498db, -7px 7px 0 #3498db, -8px 8px 0 #3498db, -9px 9px 0 #3498db, -10px 10px 0 #3498db, -11px 11px 0 #3498db, -12px 12px 0 #1abc9c, -13px 13px 0 #1abc9c, -14px 14px 0 #1abc9c, -15px 15px 0 #1abc9c, -16px 16px 0 #1abc9c, -17px 17px 0 #1abc9c, -18px 18px 0 #1abc9c, -19px 19px 0 #1abc9c, -20px 20px 0 #1abc9c, -21px 21px 0 #1abc9c, -22px 22px 0 #2ecc71, -23px 23px 0 #2ecc71, -24px 24px 0 #2ecc71, -25px 25px 0 #2ecc71, -26px 26px 0 #2ecc71, -27px 27px 0 #2ecc71, -28px 28px 0 #2ecc71, -29px 29px 0 #2ecc71, -30px 30px 0 #2ecc71, -31px 31px 0 #2ecc71, -32px 32px 0 #f1c40f, -33px 33px 0 #f1c40f, -34px 34px 0 #f1c40f, -35px 35px 0 #f1c40f, -36px 36px 0 #f1c40f, -37px 37px 0 #f1c40f, -38px 38px 0 #f1c40f, -39px 39px 0 #f1c40f, -40px 40px 0 #f1c40f, -41px 41px 0 #f1c40f, -42px 42px 0 #f39c12, -43px 43px 0 #f39c12, -44px 44px 0 #f39c12, -45px 45px 0 #f39c12, -46px 46px 0 #f39c12, -47px 47px 0 #f39c12, -48px 48px 0 #f39c12, -49px 49px 0 #f39c12, -50px 50px 0 #f39c12, -51px 51px 0 #f39c12, -52px 52px 0 #e67e22, -53px 53px 0 #e67e22, -54px 54px 0 #e67e22, -55px 55px 0 #e67e22, -56px 56px 0 #e67e22, -57px 57px 0 #e67e22, -58px 58px 0 #e67e22, -59px 59px 0 #e67e22, -60px 60px 0 #e67e22, -61px 61px 0 #e67e22, -62px 62px 0 #e74c3c, -63px 63px 0 #e74c3c, -64px 64px 0 #e74c3c, -65px 65px 0 #e74c3c, -66px 66px 0 #e74c3c, -67px 67px 0 #e74c3c, -68px 68px 0 #e74c3c, -69px 69px 0 #e74c3c, -70px 70px 0 #e74c3c, -71px 71px 0 #e74c3c, -72px 72px 0 #c0392b, -73px 73px 0 #c0392b, -74px 74px 0 #c0392b, -75px 75px 0 #c0392b, -76px 76px 0 #c0392b, -77px 77px 0 #c0392b, -78px 78px 0 #c0392b, -79px 79px 0 #c0392b, -80px 80px 0 #c0392b, -81px 81px 0 #c0392b, -82px 82px 0 #8e44ad, -83px 83px 0 #8e44ad, -84px 84px 0 #8e44ad, -85px 85px 0 #8e44ad, -86px 86px 0 #8e44ad, -87px 87px 0 #8e44ad, -88px 88px 0 #8e44ad, -89px 89px 0 #8e44ad, -90px 90px 0 #8e44ad, -91px 91px 0 #8e44ad, -92px 92px 0 #9b59b6, -93px 93px 0 #9b59b6, -94px 94px 0 #9b59b6, -95px 95px 0 #9b59b6, -96px 96px 0 #9b59b6, -97px 97px 0 #9b59b6, -98px 98px 0 #9b59b6, -99px 99px 0 #9b59b6,  -100px 100px 0 #9b59b6, -101px 101px 0 #9b59b6, -102px 102px 0 #c87faa, -103px 103px 0 #c87faa, -104px 104px 0 #c87faa, -105px 105px 0 #c87faa, -106px 106px 0 #c87faa, -107px 107px 0 #c87faa, -108px 108px 0 #c87faa, -109px 109px 0 #c87faa,  -110px 110px 0 #c87faa, -111px 111px 0 #c87faa, -112px 112px 0 #dd5e89, -113px 113px 0 #dd5e89, -114px 114px 0 #dd5e89, -115px 115px 0 #dd5e89, -116px 116px 0 #dd5e89, -117px 117px 0 #dd5e89, -118px 118px 0 #dd5e89, -119px 119px 0 #dd5e89,  -120px 120px 0 #dd5e89, -121px 121px 0 #dd5e89;
 }

 h1 + p {
   font-size: 2.5rem;
   font-weight: 100;
   text-align: center;
   margin-top: 8rem;
   padding-bottom: 2rem;
   border-bottom: 3px solid rgba(103, 65, 114,1.0);
 }

 h2 {
   text-align: center;
   font-family: Lobster, sans-serif;
   color: #c0392b;
   font-weight: 100;
   font-size: 2.5rem;
   text-shadow: -1px 1px 0 #fff, 1px -1px 0 rgba(103, 65, 114,1.0);
 }

 h2::after {
   content:'...';
 }

 h2 + p {
   text-align: center;
   font-size: 1.5rem;
   font-weight: 100;
   text-transform: lowercase;
 }

 h2 + p::before {
   content: '...';
 }

 nav {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   background: rgba(103, 65, 114,1.0);
   padding: 1rem 0;
 }

 nav a {
   color: #fff;
   text-transform: uppercase;
   font-size: .9rem;
   text-decoration: none;
   display: inline-block;
   text-align: center;
   width: calc( 100% / 4.1 );
   font-weight: 100;
 }

 q {
   background: #fff;
   display: block;
   margin: 10rem auto 2rem;
   position: relative;
   width: 20rem;
   height: 7rem;
   padding: 0rem 3rem 3rem;
   border-radius: 6rem;
   font-family: Lobster, sans-serif;
   text-align: center;
   font-size: 2.2rem;
   box-shadow: -1px 1px 0 #F1A9A0;
 }

 q::before {
   content:'';
   position: absolute;
   display: block;
   top: -40%;
   left: 2.5rem;
   background: #fff;
   width: 10rem;
   height: 10rem;
   border-radius: 50%;
   z-index: -1;
   box-shadow: 1px -1px 0 #F1A9A0;
 }

 q::after {
   content:'';
   position: absolute;
   display: block;
   top: -60%;
   right: 3rem;
   background: #fff;
   width: 14rem;
   height: 14rem;
   border-radius: 50%;
   z-index: -1;
   box-shadow: 1px -1px 0 #F1A9A0;
 }

 section {

 }

 section h3 {
     font-family: Lobster;
     border-bottom: 3px solid rgba(103, 65, 114,1.0);
     font-size: 1.5rem;
     margin-top: 4rem;
     text-align: center;
 }

 section ul {
   padding-left: 0;
 }

 section ul li {
     list-style: none;
     display: block;
     font-size: 0;
     margin: .3rem 0;
 }

 section a {
     font-size: initial;
     list-style: none;
     display: inline-block;
     text-decoration: none;
     color: #c0392b;
     transition: text-decoration 2s ease-out;
     cursor: pointer;
 }

 section a:hover {
     text-decoration: underline;
     transition: text-decoration 2s ease-out;
 }

 section ul li::before {
   font-family: FontAwesome;
   font-size: initial;
   margin-right: .5rem;
   color: #c0392b;
 }

 section ul li:nth-of-type(2)::before {
   content:'\f081';
 }

 section ul li:nth-of-type(3)::before {
       content: '\f199';
 }

 section ul li:nth-of-type(4)::before {
   content: '\f098';
 }

 @media all and (max-width: 768px) {
   nav {
     position: fixed;
     top: auto;
     bottom: 0;
   }

   html {
     font-size: 2vw;
     text-align: center;
     margin-bottom: 4rem;
   }

   body {
     margin-top: 0;
     margin-bottom: 3rem;
   }

   h1 + p {
     margin-top: 30vw;
   }

   nav a {
     font-size: 1.3rem;
     vertical-align: middle
   }

   section h3 {
     font-size: 4vw;
   }

   section p {
     font-size: 2.5vw;
   }
 }
