/**
* Theme: 19v3
* Author: @hubudibu
*/

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* FRAME */

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 20px solid;
  pointer-events: none;
}

/* LAYOUT */

main {
  overflow: hidden;
  padding: 0 40px 40px;
}

header,
aside {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (min-width: 970px) {
  header,
  aside {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* GRID */

@media (min-width: 970px) {
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 330px auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0 20px;
  }
  main::after {
    content: "";
    z-index: -1;
    position: relative;
    background: linear-gradient(lavender, azure);
    background-attachment: fixed;
    grid-column: 4 / -1;
    grid-row: 1 / span 5;
  }
  .bg {
    z-index: -1;
    position: relative;
    background: linear-gradient(lavender, azure);
    background-attachment: fixed;
    grid-column: 2 / -1;
    grid-row: 2 / span 7;
    /* 5 */
  }
}

header {
  grid-column: 6 / 12;
  grid-row: 1 / span 2;
}

.about {
  grid-column: 4 / 12;
  grid-row: 3 / span 3;
  padding: 20px;
}

.series {
  grid-column: 1 / 6;
  grid-row: 2;
}

aside {
  grid-column: 1 / 4;
  grid-row: 4;
}

.single {
  grid-column: 3 / 10;
  grid-row: 4;
}

.bannerlink {
  position: fixed;
  display: block;
  z-index: 2;
}

.banner {
  background: black;
  color: white;
  display: block;
  padding: 10px 20px;
  line-height: 1.2;
  font-size: 0.8em;
  margin: 0;
}

/* DETAILS */

body {
  min-height: 100vh;
  font: 18px/1.5 Rubik, sans-serif;
  color: black;
}
@media (min-width: 650px) {
  body {
    font-size: 22px;
  }
}

a,
.link {
  /* color: tomato; */
  /* color: salmon; */
  color: #f05d5e;
  text-decoration: none;
}

p,
q,
ul,
ol {
  display: block;
  margin-bottom: 1em;
}

ul,
ol {
  margin-left: 1em;
}

.crop {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

header {
  padding-top: 100px;
}

.title {
  font-size: 30px;
  font-family: "Rubik Mono One", Rubik, sans-serif;
  line-height: 1;
}
@media (min-width: 650px) {
  .title {
    font-size: 70px;
  }
}

.logo {
  position: relative;
  font-size: inherit;
  margin: 0;
  font-weight: normal;
}

@media (min-width: 400px) {
  .logo,
  .menu {
    white-space: pre-line;
  }
}

.logo::before {
  content: "";
  position: absolute;
  width: 3em;
  left: -2.6em;
  top: -0.5em;
  height: 1em;
  font-size: 150px;
  border-radius: 1em;
  transform: rotate(-45deg);
  border: 20px solid;
}

.menu {
  position: relative;
  color: rgba(240, 93, 94, 0.3);
}

.menu small {
  font-size: 50%;
}

.about,
.series,
aside {
  padding: 20px;
}

.single {
  padding: 20px;
  background: white;
}

.series,
aside {
  font-family: Lora, serif;
  align-self: start;
  position: relative;

  background: linear-gradient(lavender, azure);
  background-attachment: fixed;
}

.series {
  line-height: 1.7;
}

.speakers {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 60px 0;
  background: #f05d5e;
  margin-top: -20px;
}

.speakers .title {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  margin-bottom: 60px;
}

.speakers .card::before {
  display: none;
}

@media (min-width: 970px) {
  .about,
  .series,
  aside {
    background: white;
    font-size: 30px;
  }
  aside {
    text-align: right;
  }
}

.series::before {
  content: "❝";
  font-family: "Rubik Mono One", Rubik, sans-serif;
  text-indent: -0.7em;
  display: inline-block;
}

aside h1 {
  font-family: "Rubik Mono One", Rubik, sans-serif;
  font-size: 1em;
}

.single {
  font-family: Lora, serif;
}

.single h1,
.single h2,
.single h3,
.single h4,
.single h5 {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 1em 0 0.5em;
}

.single h1:first-child {
  margin-top: 0;
}

.single strong {
  font-weight: bold;
}

footer {
  background: black;
  color: white;
  padding: 60px;
  font-family: Lora, serif;
}

footer p {
  max-width: 600px;
  margin: 0 auto 1em;
}

@media (min-width: 650px) {
  .series,
  aside,
  footer {
    font-size: 22px;
  }
}
@media (min-width: 970px) {
  .series,
  aside,
  footer {
    font-size: 22px;
  }
}

/* SPEAKERS */

.speaker-pic {
  border: 20px solid white;
  max-width: 50%;
}

@media (min-width: 970px) {
  .speaker-card {
    grid-column-end: span 5;
  }
  .card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
      "pic pic . . ."
      "pic pic desc desc desc"
      ". . desc desc desc";
    align-items: start;
  }

  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: linear-gradient(lavender, azure);
    background-attachment: fixed;
  }

  .speaker-pic {
    max-width: 100%;
  }
}

.speaker-card:nth-of-type(2n + 1) {
  grid-column-start: 2;
}

.speaker-card:nth-of-type(1),
.speaker-card:nth-of-type(9) {
  grid-column-start: 1;
}
.speaker-card:nth-of-type(5) {
  grid-column-start: 3;
}

.speaker-pic {
  grid-area: pic;
}
.speaker-desc {
  grid-area: desc;
}

.speaker-pic img {
  max-width: 100%;
  display: block;
}

.speaker-desc {
  background: linear-gradient(lavender, azure);
  background-attachment: fixed;
  padding: 20px 20px 5px;
}

.speaker-link {
  color: black;
  transition: color 0.2s;
}

.speaker-link:hover,
.speaker-link:focus {
  color: #f05d5e;
}

.speaker-title {
  font-family: Lora, serif;
  font-size: 0.9em;
  line-height: 1.4;
}

@media (min-width: 970px) {
  .speaker-desc {
    background: white;
  }
}

.speaker-name,
.page-title {
  font-family: "Rubik Mono One", Rubik, sans-serif;
  line-height: 1.3;
}

.page-title {
  grid-row: 3 / span 2;
  font-size: 70px;
  grid-column: 1 / span 5;
  background: white;
}

.placeholder-pic {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 100%;
}

@media (min-width: 970px) {
  .speaker-page-pic {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
    align-self: end;
  }
  .speaker-page-desc {
    grid-column: 5 / span 6;
    grid-row: 3;
    font-size: 2em;
  }
}

.abstract {
  grid-row-start: 4;
}

.bio {
  grid-row: 7 / span 1;
  grid-column: 3 / -3;
}

.bio.two {
  grid-row-start: 8;
}

.bio h1 {
  font-family: "Rubik Mono One", Rubik, sans-serif;
  margin-bottom: 20px;
}

.stats {
  grid-row-start: 5;
  text-align: left;
  font-family: inherit;
  padding-bottom: 5px;
}

.stats.two {
  grid-row-start: 6;
  text-align: left;
  font-family: inherit;
  padding-bottom: 5px;
}

.stats li {
  position: relative;
  list-style: none;
}

.stats li::before {
  content: "";
  position: absolute;
  width: 13px;
  left: -1.1em;
  top: 0.6em;
  height: 5px;
  border-radius: 13px;
  transform: rotate(-45deg);
  border: 2px solid;
}

/* SPONSORS */

.sponsors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px 40px;
  align-items: center;
  border-top: 20px solid;
}

.sponsor-img {
  display: block;
  width: 100%;
}

.sponsor-title {
  grid-column: 2 / -1;
  margin-bottom: 20px;
}

.sponsor-copy {
  grid-column: 7 / -1;
  padding: 20px;
  background: linear-gradient(lavender, azure);
  background-attachment: fixed;
}

.sponsor-platinum {
  grid-column-end: span 2;
}

.sponsor-header {
  grid-column: 1 / -1;
}

@media (min-width: 970px) {
  .sponsors {
    grid-template-columns: repeat(12, 1fr);
    padding: 40px 40px;
  }
  .sponsor-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
  }
  .sponsor {
    grid-column-end: span 2;
  }
  .sponsor-platinum {
    grid-column-end: span 3;
  }
}

/* SCHEDULE */

.schedule-title {
  grid-column: 3 / span 6;
}

.schedule {
  grid-row-gap: 0;
}

.big-hall {
  grid-column: 10 / 12;
  grid-row: 10;
  align-self: end;
}

.outside {
  grid-column: 2 / 4;
  grid-row-start: 18;
  margin-bottom: 40px;
}

.schedule-in {
  grid-column: 6 / span 6;
  grid-row-end: span 2;
}

.schedule-out {
  grid-column: 2 / span 6;
}

.schedule-out:first-of-type {
  grid-column: 3 / span 6;
}
.schedule-out:last-child {
  margin-bottom: 40px;
}

.timestamp {
  font-size: 2em;
  white-space: nowrap;
  color: #f05d5e;
  letter-spacing: -2px;
}

.schedule-note {
  display: none;
    font-family: Lora, serif;
}

.schedule-out .speaker-pic {
  display: none;
}

.schedule-out .speaker-desc {
  background: ghostwhite;
  background-attachment: fixed;
}

@media (min-width: 970px) {
  .schedule-title {
    margin: -110px 0 40px;
  }
  .schedule-note {
    display: block;
  }
  .schedule-out {
    margin: -30px 0;
  }
  .schedule-out + .schedule-out {
    margin-top: 30px;
  }
  .schedule-out .speaker-pic {
    display: block;
  }
  .schedule-out .speaker-desc {
    background: white;
  }
}
