---
layout: default
---

<blockquote class="series">
  All CSSConf event organizer teams share the vision of an international, diverse and creative CSS community, for which the CSSConf series offers a platform to meet, hack, share knowledge and build friendships.
</blockquote>

<section class="about">
  <p>CSSConf Budapest is a community conference dedicated to the designers and developers who love CSS. For the community, by the community.</p>
  <p>
    Curious what to expect? check out our
    <a href="speakers.html">✨ speakers ✨</a>, see what we had
    <a href="http://2017.cssconfbp.rocks" target="_blank">last year</a> or
    <a href="http://2016.cssconfbp.rocks/" target="_blank">the year before</a>, check out some
    <a href="https://www.flickr.com/photos/dora_nemeth/sets/72157688902990951" target="_blank">photos</a>,
    <a href="https://www.youtube.com/watch?v=fvCbMBPka8s&list=PL37ZVnwpeshEif54oBYCQhN8KE-vTWPTi" target="_blank">talk videos</a> or a
    <a href="https://www.youtube.com/watch?v=eniDIEQvKgo" target="_blank">mood video</a> from our past events. This year we are back at
    <a href="https://akvariumklub.hu/en/" target="_blank">Akvárium Klub</a>, joining forces with
    <a href="https://jsconfbp.com/" target="_blank">JSConf Budapest</a> to bring you 3 days of web community celebration.
    Follow us <a href="https://twitter.com/cssconfbudapest" target="_blank">on twitter</a> for updates!
  </p>
</section>

<aside>
  <h1>News</h1>
  <p>Full lineup! Check out <a href="speakers.html">our speakers</a>, what do you think?</p>
  <p>All tickets are gone 🚂 see you on the 25th!</p>
</aside>

<div class="bg"></div>
