<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSSConf Budapest 2019 {{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Lora|Rubik+Mono+One|Rubik:400,700" rel="stylesheet">
    <link href="{{ "/assets/style.css" | relative_url }}" rel="stylesheet">


  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@cssconfbudapest">
  <meta name="twitter:creator" content="@cssconfbudapest">
  <meta name="twitter:title" content="CSSConf Budapest 2019">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}September 25, Budapest, Hungary{% endif %}">
  <meta name="twitter:image" content="{% if page.shareimg %}{{ page.shareimg | absolute_url }}{% else %}http://cssconfbp.rocks/social_card_css_2019.png{% endif %}">
  <meta name="twitter:url" content="http://cssconfbp.rocks/">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="CSSConf Budapest 2019" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}September 25, Budapest, Hungary{% endif %}" />
  <meta property="og:image" content="{% if page.shareimg %}{{ page.shareimg | absolute_url }}{% else %}http://cssconfbp.rocks/social_card_css_2019.png{% endif %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="675" />
  <meta property="og:site_name" content="CSSConf Budapest 2019" />
  <meta property="og:url" content="http://cssconfbp.rocks/" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131127655-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131127655-1');
  </script>
</head>
<body>

    {{ content }}

</body>
</html>
